In [15]:
# Importar librerias
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sb

In [20]:
# Importar documento excel (Training Set)
dataset = pd.read_csv('ofensiva/all/scoring.csv')

In [21]:
dataset

,Team,Tot,R,P,KR,PR,IR,FR,BK,BP,FGR,PAT,FG,Conv,Saf,Pts,Year
0,Arizona Cardinals,32,6,21,0,1,3,1,0,0,0,27/27,29/33,2,0,310,2014
1,Atlanta Falcons,42,11,28,0,1,1,1,0,0,0,40/40,29/32,1,0,381,2014
2,Baltimore Ravens,46,16,27,1,0,1,0,0,1,0,42/42,29/34,1,1,409,2014
3,Buffalo Bills,34,7,23,1,1,0,1,0,1,0,31/32,34/38,2,1,343,2014
4,Carolina Panthers,36,10,23,0,1,2,0,0,0,0,34/34,29/35,1,0,339,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,San Francisco 49ers,35,7,26,1,0,1,0,0,0,0,27/29,33/34,2,1,342,2018
156,Seattle Seahawks,52,15,35,0,0,1,1,0,0,0,48/51,22/27,1,0,428,2018
157,Tampa Bay Buccaneers,49,11,36,0,0,0,2,0,0,0,40/44,20/27,1,0,396,2018
158,Tennessee Titans,34,15,16,1,0,2,0,0,0,0,28/31,26/30,0,0,310,2018
159,Washington Redskins,29,12,16,0,0,0,1,0,0,0,25/26,26/29,2,0,281,2018

In [22]:
dataset_RL = dataset.loc[dataset['Team'] == "Arizona Cardinals"]

In [23]:
dataset_RL

,Team,Tot,R,P,KR,PR,IR,FR,BK,BP,FGR,PAT,FG,Conv,Saf,Pts,Year
0,Arizona Cardinals,32,6,21,0,1,3,1,0,0,0,27/27,29/33,2,0,310,2014
32,Arizona Cardinals,58,16,35,1,0,4,2,0,0,0,53/58,28/31,0,2,489,2015
64,Arizona Cardinals,51,20,28,0,0,2,1,0,0,0,43/47,21/28,1,2,418,2016
96,Arizona Cardinals,29,6,21,0,0,1,1,0,0,0,23/26,32/40,1,0,295,2017
128,Arizona Cardinals,27,9,15,0,0,0,2,0,1,0,23/24,17-Dec,2,0,225,2018