In [1]:
# Importar librerias
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sb

In [3]:
# Importar documento excel (Training Set)
dataset_downs = pd.read_csv('ofensiva/all/downs.csv')
dataset_kickoffReturn = pd.read_csv('ofensiva/all/kickoffReturn.csv')
dataset_passing = pd.read_csv('ofensiva/all/passing.csv')
dataset_punting = pd.read_csv('ofensiva/all/punting.csv')
dataset_puntingReturn = pd.read_csv('ofensiva/all/puntReturn.csv')
dataset_rushing = pd.read_csv('ofensiva/all/rushing.csv')
dataset_scoring = pd.read_csv('ofensiva/all/scoring.csv')

In [4]:
dataset_downs

,Team,Gms,Rush,Pass,Pen,Tot,Att,Made,Pct,Att.1,Made.1,Pct.1,Year
0,Arizona Cardinals,16,67,191,44,302,224,90,40.2,4,3,75.0,2014
1,Atlanta Falcons,16,75,233,22,330,210,93,44.3,16,8,50.0,2014
2,Baltimore Ravens,16,113,194,38,345,205,84,41.0,18,9,50.0,2014
3,Buffalo Bills,16,65,186,22,273,229,84,36.7,14,6,42.9,2014
4,Carolina Panthers,16,117,199,31,347,222,93,41.9,10,6,60.0,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,San Francisco 49ers,16,98,201,45,344,193,73,37.8,10,5,50.0,2018
156,Seattle Seahawks,16,133,156,40,329,208,81,38.9,14,11,78.6,2018
157,Tampa Bay Buccaneers,16,80,265,43,388,187,86,46.0,13,9,69.2,2018
158,Tennessee Titans,16,106,156,27,289,205,82,40.0,12,7,58.3,2018
159,Washington Redskins,16,96,156,28,280,206,75,36.4,18,10,55.6,2018

In [22]:
dataset_RL = dataset.loc[dataset['Team'] == "Arizona Cardinals"]
dataset_RL